<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomatedAttendanceSystemVB.My.MySettings.attendConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\attend.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="AutomatedAttendanceSystemVB.My.MySettings.rk_vbpro_t2ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\rk-vbpro-t2.mdb;Jet OLEDB:Database Password=123" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
